path { fill: none; stroke: #000000; stroke-opacity:1; stroke-width: 0.5; stroke-miterlimit:4; stroke-dashoffset:0; stroke-linecap:round; stroke-linejoin:round; }
tspan { font-size:6px; font-style:normal; font-weight:normal; text-anchor:middle; fill:#000000; fill-opacity:1; stroke:none; }
