@import "https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans+Condensed:300";
/* Reset */
path,
circle,
rect {
  fill: none;
  stroke: none;
}
/* Paths */
path {
  fill: none;
  stroke: #000000;
  stroke-opacity: 1;
  stroke-width: 0.3;
  stroke-linecap: round;
  stroke-linejoin: round;
}
path.curve-control {
  stroke: #f57900;
  stroke-width: 0.2;
}
path.seamline {
  stroke-width: 0.6;
}
path.seam-allowance {
  stroke-dasharray: 1,1.5;
}
path.marker {
  stroke: #f57900;
  stroke-opacity: 0.4;
  stroke-width: 2;
}
path.text {
  fill: none;
  stroke: none;
}
path.note {
  stroke: #4285f4;
  stroke-width: 0.6;
  marker-start: url(#noteArrow);
}
/* Text */
text {
  font-size: 5px;
  font-family: 'Open Sans Condensed';
  fill: #000000;
  text-anchor: start;
}
text.part-nr,
text.part-nr-vertical,
text.part-nr-horizontal {
  font-size: 24px;
  text-anchor: middle;
  fill: #000000;
  font-family: 'Abril Fatface';
}
text.part-nr,
text.part-nr-vertical {
  transform: translate(0px, -16px);
  /* FIXME: How do we do this with LESS based on @font-size-nr? */

}
text.part-nr-horizontal {
  text-anchor: end;
}
text.part-title,
text.part-title-vertical,
text.part-title-horizontal {
  font-size: 14px;
  text-anchor: middle;
  fill: #000000;
  font-family: 'Abril Fatface';
}
text.part-title-horizontal {
  text-anchor: start;
  transform: translate(5px, -7px);
  /* FIXME: How do we do this with LESS based on @font-size-nr? */

}
text.part-msg,
text.part-msg-vertical,
text.part-msg-horizontal {
  font-size: 7px;
  text-anchor: middle;
  fill: #000000;
}
text.part-msg {
  transform: translate(0, 10px);
  /* FIXME: How do we do this with LESS based on @font-size-title? */

}
text.part-title-vertical,
text.part-msg-vertical {
  text-anchor: end;
}
text.part-msg-horizontal {
  text-anchor: start;
  transform: translate(5px, 3px);
  /* FIXME: How do we do this with LESS based on @font-size-title? */

}
text.note,
text.dimension-label {
  fill: #4285f4;
}
text.note tspan {
  alignment-baseline: middle;
}
text.note-5,
text.note-6,
text.note-7,
text.note-11,
text.note-12,
text.note-0,
text.note-1,
text.dimension-label {
  text-anchor: middle;
}
text.note-8,
text.note-9,
text.note-10 {
  text-anchor: end;
}
text.dimension-label {
  font-size: 7px;
}
text.grainline {
  fill: #db4437;
}
path.arrow {
  stroke: #4285f4;
}
path.grainline {
  stroke: #db4437;
  stroke-width: 0.6;
  marker-start: url(#fabric-arrowStart);
  marker-end: url(#fabric-arrowEnd);
}
path.dimension {
  stroke: #4285f4;
  stroke-width: 0.6;
  marker-start: url(#note-color-arrowStart);
  marker-end: url(#note-color-arrowEnd);
}
path.dimension.dimension-sm {
  stroke-width: 0.3;
}
path.dimension-leader {
  stroke: #4285f4;
  stroke-width: 0.3;
}
path.single-arrow {
  marker-start: url(#note-color-arrowStart);
}
path.double-arrow {
  marker-start: url(#note-color-arrowStart);
  marker-end: url(#note-color-arrowEnd);
}
path.helpline {
  stroke: #666666;
  stroke-width: 0.2;
  stroke-dasharray: 0.2,0.6;
}
/* Debug */
path.debug {
  stroke: #db4437;
  stroke-opacity: 0.4;
  stroke-width: 2;
}
.point {
  fill: none;
  stroke-width: 0.2;
  stroke: #999999;
}
/* Utility */
.stroke-brand {
  stroke: #5c3566;
}
.stroke-note {
  stroke: #4285f4;
}
.stroke-tip {
  stroke: #5cb85c;
}
.stroke-warning {
  stroke: #f57900;
}
.stroke-fabric {
  stroke: #db4437;
}
.fill-brand {
  fill: #5c3566;
}
.fill-note {
  fill: #4285f4;
}
.fill-tip {
  fill: #5cb85c;
}
.fill-warning {
  fill: #f57900;
}
.fill-fabric {
  fill: #db4437;
}
.stroke-black {
  stroke: #000000;
}
.stroke-gray1 {
  stroke: #666666;
}
.stroke-gray2 {
  stroke: #999999;
}
.stroke-gray3 {
  stroke: #cccccc;
}
.stroke-gray4 {
  stroke: #eeeeee;
}
.fill-black {
  fill: #000000;
}
.fill-gray1 {
  fill: #666666;
}
.fill-gray2 {
  fill: #999999;
}
.fill-gray3 {
  fill: #cccccc;
}
.fill-gray4 {
  fill: #eeeeee;
}
.text-xs {
  font-size: 3px;
}
.text-sm {
  font-size: 4px;
}
.text-lg {
  font-size: 7px;
}
.text-xl {
  font-size: 9px;
}
.stroke-xs {
  stroke-width: 0.1;
}
.stroke-sm {
  stroke-width: 0.2;
}
.stroke-lg {
  stroke-width: 0.6;
}
.stroke-xl {
  stroke-width: 1;
}
.stroke-xxl {
  stroke-width: 2;
}
.font-xs {
  font-size: 3px;
}
.font-sm {
  font-size: 4px;
}
.font-lg {
  font-size: 7px;
}
.font-xl {
  font-size: 9px;
}
.font-xxl {
  font-size: 12px;
}
.text-center {
  text-anchor: middle;
}
.dashed {
  stroke-dasharray: 1,1.5;
}
.dotted {
  stroke-dasharray: 0.2,0.6;
}
.hidden {
  stroke: none;
  file: none;
}
