div.set-by-option-pack,
div.optionpack,
blockquote.optionpack {
  margin: 20px;
  padding: 20px;
  min-height: 70px;
  font-size: 0.9em;
  border-left: 15px solid #5c3566;
  -webkit-box-shadow: 0px 0px 5px 2px #ddd;
     -moz-box-shadow: 0px 0px 5px 2px #ddd;
          box-shadow: 0px 0px 5px 2px #ddd;
}
blockquote.optionpack,
div.optionpack,
div.set-by-option-pack {
  border-left: 15px solid #5bc0de;
  font-style: italic;
  font-size: 1em;
  padding: 15px 20px 10px 20px;
}
div.set-by-option-pack { margin-left: 40px; }
img.selected-fit-pack,
img.selected-style-pack { border: 1px dashed #5BC0DE; }
label > img { border: 1px solid white;}
label > img:hover { cursor: pointer; }


div.set-by-option-pack:before,
div.optionpack:before,
blockquote.optionpack:before {
  content: "\e02d";
  font-family: "bracara-icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3em;
  float: right;
  margin-top: -10px;
  color: #5c3566;
}
blockquote.optionpack:before ,
div.optionpack:before {
  content: "\e014";
  color: #5bc0de;
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 2.5em;
}
div.set-by-option-pack:before {
  font-family: "Dosis" !important;
  content: attr(data-packname);
  color: #5bc0de;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-top: -5px;
  font-size: 0.8em;
  text-transform: capitalize !important;
}
label.option img { margin-left: -20px; }

