.site-header a {
    color: #fff !important;
}
p a {
    box-shadow: 0px -3px 0px #bbe1ed inset;
    border-bottom: 2px solid #bbe1ed;
    transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1) 0s;
    color: #333333;
}
p a:hover {
    background: #bbe1ed none repeat scroll 0% 0%;
    color: #333333;
    text-decoration: none;
}

