@import 'https://fonts.googleapis.com/css?family=Lato:700i|Open+Sans';
path { fill: none; stroke: #000000; stroke-opacity:1; stroke-width: 0.4; stroke-miterlimit:4; stroke-dashoffset:0; stroke-linecap:round; stroke-linejoin:round; }
path.curvecontrol { fill: none; stroke: #5BC0DE; stroke-opacity:1; stroke-width: 0.3; stroke-miterlimit:4; stroke-dashoffset:0; stroke-linecap:round; stroke-linejoin:round; }
path.sa { fill: none; stroke: #000000; stroke-dasharray:1,1; stroke-opacity:1; stroke-width: 0.2; stroke-miterlimit:4; stroke-dashoffset:0; stroke-linecap:round; stroke-linejoin:round; }
path.marker { fill: none; stroke: #00FF00; stroke-opacity:1; stroke-width: 2; stroke-miterlimit:4; stroke-dashoffset:0; stroke-linecap:round; stroke-linejoin:round; }
text {font-size: 8px; font-family:'Open Sans'; fill:#333333; text-anchor:start;}
text.tooltip { font-size:5; }
text.snippet-scalebox-headings tspan,
text.snippet-scalebox-instructions tspan,
text.snippet-scalebox-values tspan,
text.scalebox-hash tspan { font-size:4px; }
text.snippet-scalebox-instructions tspan { font-size:3px; }
text.snippet-scalebox-values tspan { font-size:4px; fill:#5BC0DE; }
text.title { font-size:14px; text-anchor:middle; fill:#333333; font-family:'Lato'; }
text.text-xs {font-size: 4px;}
text.text-sm {font-size: 6px;}
text.text-lg {font-size: 10px;}
text.align-center { text-anchor:middle; }

