@import 'https://fonts.googleapis.com/css?family=Lato:700i|Open+Sans';
path { fill: none; stroke: #000000; stroke-opacity:1; stroke-width: 0.4; stroke-miterlimit:4; stroke-dashoffset:0; stroke-linecap:round; stroke-linejoin:round; }
path.curvecontrol { fill: none; stroke: #5BC0DE; stroke-opacity:1; stroke-width: 0.3; stroke-miterlimit:4; stroke-dashoffset:0; stroke-linecap:round; stroke-linejoin:round; }
path.sa { fill: none; stroke: #000000; stroke-dasharray:1,1; stroke-opacity:1; stroke-width: 0.2; stroke-miterlimit:4; stroke-dashoffset:0; stroke-linecap:round; stroke-linejoin:round; }
path.marker { fill: none; stroke: #00FF00; stroke-opacity:1; stroke-width: 2; stroke-miterlimit:4; stroke-dashoffset:0; stroke-linecap:round; stroke-linejoin:round; }
path.textpath { fill: none; stroke: none; }
path.noteline { fill: none; stroke: #134cc5; stroke-width: 0.6; marker-end:url(#noteArrow)}
text {font-size: 8px; font-family:'Open Sans'; fill:#333333; text-anchor:start;}
text.tooltip { font-size:5; }
text.snippet-scalebox-headings tspan,
text.snippet-scalebox-instructions tspan,
text.snippet-scalebox-values tspan,
text.scalebox-hash tspan { font-size:4px; }
text.snippet-scalebox-instructions tspan { font-size:3px; }
text.snippet-scalebox-values tspan { font-size:4px; fill:#5BC0DE; }
text.title { font-size:14px; text-anchor:middle; fill:#333333; font-family:'Lato'; }
text.text-xs {font-size: 4px;}
text.text-sm {font-size: 6px;}
text.text-lg {font-size: 10px;}
text.align-center { text-anchor:middle; }
text.note { fill: #134cc5; }
text.note tspan { alignment-baseline: middle;}
text.note-5, text.note-6, text.note-7, text.note-11, text.note-12, text.note-0, text.note-1 {text-anchor:middle;}
text.note-8, text.note-9, text.note-10 {text-anchor:end;}
